<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.activepartytime" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.app.activepartytime.StartPageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.activepartytime.activities.SingleDeviceTeams"
            android:label="@string/title_activity_single_device_teams"
            android:parentActivityName="com.app.activepartytime.StartPageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.activepartytime.StartPageActivity" />
        </activity>
        <activity
            android:name="com.app.activepartytime.activities.WiFiTeams"
            android:label="@string/title_activity_wi_fi_teams"
            android:parentActivityName="com.app.activepartytime.StartPageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.activepartytime.StartPageActivity" />
        </activity>
        <activity
            android:name="com.app.activepartytime.activities.tabs.HostWiFiActivity"
            android:label="@string/title_activity_host_wi_fi"
            android:parentActivityName="com.app.activepartytime.activities.WiFiTeams" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.activepartytime.activities.WiFiTeams" />
        </activity>
        <activity
            android:name="com.app.activepartytime.activities.tabs.JoinWiFiActivity"
            android:label="@string/title_activity_join_wi_fi"
            android:parentActivityName="com.app.activepartytime.activities.WiFiTeams" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.activepartytime.activities.WiFiTeams" />
        </activity>
        <activity
            android:name="com.app.activepartytime.activities.GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName="com.app.activepartytime.activities.SingleDeviceTeams" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.activepartytime.activities.SingleDeviceTeams" />
        </activity>
        <activity
            android:name="com.app.activepartytime.activities.GameMoveActivity"
            android:label="@string/title_activity_game_move"
            android:screenOrientation="portrait"
            android:parentActivityName="com.app.activepartytime.activities.SingleDeviceTeams" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.activepartytime.activities.SingleDeviceTeams" />
        </activity>
        <activity
            android:name="com.app.activepartytime.activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

    </application>

</manifest>
